<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>BLOG</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <!-- header -->
  {{%include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_header.html'%}}
  <!-- header End -->

    <div class="container-fluid">
      <div class="row">

        <!-- sidebar -->
        {{%include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_sidebar.html'%}}
        <!-- sidebar End -->

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">BLOG</h1><button type="button" class="btn btn-primary btn-lg" onClick="location.href='/admin/blog/create.php'">新規投稿</button>

          <div>
            <h2>ブログ一覧</h2>

            {{%if $flash_msg%}}
            <div class="alert alert-success" role="alert">
              <span class="help-block">{{%$flash_msg%}}</span>
            </div>
            {{%/if%}}

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>title</th>
                  <th>日時</th>
                  <th>編集</th>
                </tr>
              </thead>
              <tbody>
                {{%foreach from=$blogs key=k item=v%}}
                <tr>
                  <td>{{%$v.title%}}</td>
                  <td>{{%$v.created%}}</td>
                  <td><button type="button" class="btn btn-success" onClick="location.href='/admin/blog/edit.php?post_id={{%$v.id%}}'">編集</button>
                    <a href="/admin/blog/delete.php?post_id={{%$v.id%}}&confirm=true" class="confirm" title="ブログ【{{%$v.title%}}】を削除します。<br />よろしいですか?"><button type="button" class="btn btn-danger">削除</button></a>
                  </td>
                </tr>
                {{%/foreach%}}
              </tbody>
              </tbody>
            </table>

            <nav>
            	<ul class="pagination">{{%$links|replace:'<a ':'<li><a '|replace:'</a>':'</a></li>'|replace:'<span>':''|replace:'</span>':''%}}</ul>
            </nav>
            
          </div>

        </div>
      </div>
    </div>

    <!-- footer -->
    {{%include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_footer.html'%}}
    <!-- footer End -->
  </body>
</html>
