<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin/">BLOGシステム</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/admin/account/edit.php">アカウント編集</a></li>
        <li><a href="/admin/logout.php?confirm=true" class="confirm" title="Logoutします。よろしいですか?">Logout</a></li>
      </ul>

      <!--
      <button class="btn btn-default dropdown-toggle navbar-right" type="button" data-toggle="dropdown">Tutorials
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">HTML</a></li>
        <li class="disabled"><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
        <li class="divider"></li>
        <li><a href="#">About Us</a></li>
      </ul>
    -->

      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>

    </div>


  </div>
</nav>
