<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li {{%if $smarty.server.SCRIPT_NAME == '/admin/index.php'%}}class="active"{{%/if%}}><a href="/admin/">HOME</a></li>
    <li {{%if $smarty.server.SCRIPT_NAME|mb_strpos:'blog'%}}class="active"{{%/if%}}><a href="/admin/blog/">BLOGを書く</a></li>
    <li {{%if $smarty.server.SCRIPT_NAME|mb_strpos:'setting'%}}class="active"{{%/if%}}><a href="/admin/setting/edit.php">設定</a></li>
    <li><a href="#">Export</a></li>
  </ul>
</div>
