<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>BLOG設定</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <!-- header -->
  {{%include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_header.html'%}}
  <!-- header End -->
    <div class="container-fluid">
      <div class="row">
        <!-- sidebar -->
        {{%include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_sidebar.html'%}}
        <!-- sidebar End -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">ブログの設定編集</h1>
          <div>
            <!--
            <h2>Form control: input</h2>
            <p>The form below contains two input elements; one of type text and one of type password:</p>
            -->
            {{%if $errors%}}
            <div class="alert alert-error bg-danger has-error">
              <span class="help-block">入力にエラーがあります。</span>
            </div>
            {{%/if%}}
            {{%if $flash_msg%}}
            <div class="alert alert-success" role="alert">
              <span class="help-block">{{%$flash_msg%}}</span>
            </div>
            {{%/if%}}
            {{%$errors._SITE_TITLE%}}
            <form role="form" action="./edit.php" method="post">

              <div class="form-group {{%if $errors[_SITE_TITLE]%}}has-error error{{%/if%}}">
                <label for="usr">ブログのタイトル:</label>
                <input type="text" name="_SITE_TITLE" value="{{%$_SITE_TITLE%}}" class="form-control" id="usr">
                {{%if $errors[_SITE_TITLE]%}}<span class="help-block">{{%$errors[_SITE_TITLE]%}}</span>{{%/if%}}
              </div>
              <div class="form-group {{%if $errors._SITE_PHRASE%}}has-error error{{%/if%}}">
                <label for="usr">ブログキャッチフレーズ:</label>
                <input type="text" name="_SITE_PHRASE" value="{{%$_SITE_PHRASE%}}" class="form-control" id="usr">
                {{%if $errors._SITE_PHRASE%}}<span class="help-block">{{%$errors._SITE_PHRASE%}}</span>{{%/if%}}
              </div>
              <div class="form-group {{%if $errors._SITE_BLOG_PER_NUM%}}has-error error{{%/if%}}">
                <label for="usr">1ページに表示させる件数:</label>
                <div style="margin-left:2em;">{{%html_radios name='_SITE_BLOG_PER_NUM' options=$blog_show_num selected=$_SITE_BLOG_PER_NUM separator='<br />'%}}</div>
                {{%if $errors._SITE_BLOG_PER_NUM%}}<span class="help-block">{{%$errors._SITE_BLOG_PER_NUM%}}</span>{{%/if%}}
              </div>
              <div class="form-group {{%if $errors._SITE_BLOG_BODY_ALL%}}has-error error{{%/if%}}">
                <label for="usr">一覧に全文を表示させる:</label>
                <div style="margin-left:2em;">{{%html_radios name='_SITE_BLOG_BODY_ALL' options=$show_radios selected=$_SITE_BLOG_BODY_ALL separator='<br />'%}}</div>
                {{%if $errors._SITE_BLOG_BODY_ALL%}}<span class="help-block">{{%$errors._SITE_BLOG_BODY_ALL%}}</span>{{%/if%}}
              </div>
              <div class="form-group {{%if $errors._SITE_BLOG_DESIGN%}}has-error error{{%/if%}}">
                <label for="usr">ブログのデザイン:</label>
                <div style="margin-left:2em;">{{%html_radios name='_SITE_BLOG_DESIGN' options=$blog_design selected=$_SITE_BLOG_DESIGN separator='<br />'%}}</div>
                {{%if $errors._SITE_BLOG_DESIGN%}}<span class="help-block">{{%$errors._SITE_BLOG_DESIGN%}}</span>{{%/if%}}
              </div>

              <button type="submit" class="btn btn-lg btn-primary">更新</button>
              <input type="hidden" name="id" value="{{%$id%}}">
              <input type="hidden" name="token" value="{{%$token%}}">
            </form>
          </div>

        </div>
      </div>
    </div>

    <!-- footer -->
    {{%include file=$smarty.const.TEMPLATE_DIR|cat:'admin/layout/_footer.html'%}}
    <!-- footer End -->
  </body>
</html>
